// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

h1 {
  font-size: 1.2rem;
  font-family: cursive;
  margin-bottom: 0;
}

img {
  object-fit: cover;
}

header {
  text-align: center;
}

main {
  font-family: 'Nunito';

  .welcome {
    text-align: center;
  }

  .card-header {
    text-align: center;
  }

  .admin {

    &-album-index {
      text-align: center;

      form {
        display: inline;

        button {
          padding: 0;
          background: unset;
          border: unset;
        }
      }

      ul {
        list-style: none;

        .title-link, .edit-link {
          color: unset;
        }

        .title-link {
          text-decoration: underline;
        }
      }
    }
    &-album-create {
      text-align: center;

      form {

        .custom-file {
          margin-bottom: 1rem;
        }

        ul {
          text-align: left;
        }

        #image-preview-list {
          padding: 0;
          list-style: none;
          position: relative;
          perspective: 300px;

          li {
            transform: rotateY(60deg);
            transform-origin: left center;

            img {
              width: 60px;
              height: 60px;
              border-radius: 20%;
              border: solid 2px #ddd;
            }

            @for $i from 2 to 20 {
              &:nth-of-type(#{$i}) {
                position: absolute;
                top: 0;
                left: 20px * ($i - 1);
                z-index: $i;
              }
            }
            &:nth-last-of-type(1) {
              width: 60px;
              height: 60px;
              background: rgba(255, 255, 255, 0.9);
              border-radius: 20%;
              border: solid 2px #ddd;
              text-align: center;
              transform: none;
              transform-origin: none;
              perspective: none;

              span {
                line-height: 60px;
                font-family: 'Roboto';
                font-weight: bold;
                font-size: large;
                color: #97D3E5;
              }
            }
          }
        }

        p {
          margin: 20px 0 0 0;
          text-align: left;
        }
        .custom-control {
          text-align: left;
        }
      }
    }
    &-album-edit {
      text-align: center;

      form {

        p {
          margin: 20px 0 0 0;
          text-align: left;
        }
        .custom-control {
          text-align: left;
        }
      }

      .create-images {

        .custom-file {
          margin-bottom: 1rem;
        }

        ul {
          text-align: left;
        }

        #image-preview-list {
          padding: 0;
          list-style: none;
          position: relative;
          perspective: 300px;

          li {
            transform: rotateY(60deg);
            transform-origin: left center;

            img {
              width: 60px;
              height: 60px;
              border-radius: 20%;
              border: solid 2px #ddd;
            }

            @for $i from 2 to 20 {
              &:nth-of-type(#{$i}) {
                position: absolute;
                top: 0;
                left: 20px * ($i - 1);
                z-index: $i;
              }
            }
            &:nth-last-of-type(1) {
              width: 60px;
              height: 60px;
              background: rgba(255, 255, 255, 0.9);
              border-radius: 20%;
              border: solid 2px #ddd;
              text-align: center;
              transform: none;
              transform-origin: none;
              perspective: none;

              span {
                line-height: 60px;
                font-family: 'Roboto';
                font-weight: bold;
                font-size: large;
                color: #97D3E5;
              }
            }
          }
        }
      }

      .delete-images {
        margin-top: 10px;

        ul {
          padding: 0;
          display: flex;
          list-style: none;
          flex-wrap: wrap;

          li {
            margin-bottom: 20px;
            display: inline;
            flex: 25%;

            img {
              width: 100px;
              height: 100px;
              padding: 5px;
              border-radius: 20%;
            }
          }
        }
      }
    }
    &-image-index {

      .images {

        img {
          width: 30%;
        }
      }
    }
  }

  .welcome {

    p {
      margin: 1rem auto;
    }
  }
  .album {

    &-index {

      .card {
        margin-bottom: 20px;

        a {
          color: unset;
        }

        .card-body {
          padding: 2rem;

          .images {

            ul {
              padding: 0;
              list-style: none;
              overflow: hidden;
              position: relative;
              z-index: 1;

              li {

                img {
                  width: 200px;
                  height: 150px;
                  border: solid 2px #ddd;
                  border-radius: 50px;
                  position: relative;
                  z-index: -1;
                }
              }

              .li-0 {
                box-shadow: -30px 0px 10px 0px white inset;
              }
              .li-1 {
                position: absolute;
                top: 0;
                left: 30px
              }
              .li-2 {
                position: absolute;
                top: 0;
                left: 200px;
              }
            }
          }
        }
      }
    }
    &-show {
      .card-body {
        padding: 0;

        .comments {
          padding: 20px;
        }

        .images {

          ul {
            list-style: none;
            padding: 0;
            display: grid;
            width: 100%;

            li {
              position: relative;
              border: solid 1px black;

              &:before {
                content: "";
                display: block;
                padding-top: 100%;
              }

              $listCount: 1; // アイテムの総数(初期値)
              // 9行(9行 * 3列 = 27アイテムまで表示)
              @for $i from 1 through 9 {
                @debug "ループ#{$i}回目";
                $colCount: 1; // 列数初期値
                // 1行3列
                @while $colCount <= 3 {
                  @debug "リスト#{$listCount}個目";
                  @debug "while#{$colCount}列目";
                  &:nth-of-type(#{$listCount}) {
                    grid-row: #{$i} / #{($i + 1)};
                    grid-column: #{$colCount} / #{($colCount + 1)};
                  }
                  $colCount: $colCount + 1;
                  $listCount: $listCount + 1;
                }
              }

              // 最大99枚まで表示
              // @for $i from 1 through 10 {
              //   @if $i <= 3 {
              //     &:nth-of-type(#{$i}) {
              //       grid-row: 1 / 2;
              //       grid-column: $i / ($i + 1);
              //     }
              //   } @else {
              //     &:nth-of-type(#{$i}) {
              //       grid-row: 2 / 3;
              //       grid-column: $i / ($i + 1);
              //     }
              //   }
              // }

              img {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                &:hover {
                  cursor: pointer;
                }
              }
            }
          }
        }

        .modal-window {

          &.show {
            opacity: 1;
            height: 100vh;
            padding: 20px;
            background:rgba(0, 0, 0, 0.7);
            position: fixed;
            top: 0;
            left: 0;
            translate: 1s;

            i {
              color: lightgray;
            }

            .modal-content {
              padding: 10px;
              background: white;
              border: 1px solid rgba(0, 0, 0, 0.125);
              border-radius: 0.25rem;
              pointer-events: unset;

              i {
                margin-right: 10px;
                margin-bottom: 15px;
                text-align: right;
                &:hover {
                  cursor: pointer;
                }
              }
              .modal-image {
                width: 100%;
              }
            }
            .arrows {
              margin-top: 15px;
              display: flex;
              justify-content: space-between;

              i {
                margin-top: 30px;
                color: gray;
              }
            }
          }
          &.hide {
            display: none;
            opacity: 0;
          }
        }

        .albums-link {
          margin: 20px 0;
          text-align: center;
        }
      }
    }
  }

  .register {

    .name-form {

      .col {
        padding-left: 0;
        padding-right: 0;
      }
    }
    .register-btn {
      text-align: center;
    }
  }

  .login {

    .login-btn {
      text-align: center;
    }
  }
}

footer {
  padding: 0.5rem 1rem;
  background-color: #fff;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  text-align: center;

  .footer-content {
    display: flex;
    align-items: center;


    h1 {
      flex: 1;
      justify-content: center;

      a {
        color: rgba(0, 0, 0, 0.9);
      }
    }

    ul {
      text-align: left;
      flex: 1;
      list-style: none;
      padding: 0;

      li {
        color: #3490dc;
      }
    }
  }
}
